<div class="container-fluid mb-3">
    <!-- breadcrums -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
        </ol>
    </nav>
    <!-- end of breadcrum -->
    <!-- Actual content start -->
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <h1 class="count-header">Shopping cart(4)</h1>
            <div class="row border-top border-bottom">
                <div class="col-7">
                    Product
                </div>
                <div class="col-2">
                    Qty
                </div>
                <div class="col-1">
                    Price
                </div>
                <div class="col-1">
                    Total
                </div>
                <div class="col-1">

                </div>
            </div>
            <div class="row">
                <div class="card col-12 px-0 mt-2" *ngFor="let cartItem of cartItems; let ind = index">
                    <div class="card-body row">
                        <div class="col-lg-7 col-sm-12">
                            <div class="d-flex">
                                <div class="">
                                    <img src="{{cartItem.imageUrl}}" alt="not-found">
                                </div>
                                <div class="flex-grow-1">
                                    <span class="primary-fc">{{cartItem.brandName}}</span>
                                    <span class="primary-fc pl-1">{{cartItem.itemName}}</span>
                                    <div class="primary-fc">
                                        <span class="pr-2 border-right">Model: {{cartItem?.modelNumber}}</span>
                                        <span class="pl-2">Sku: {{cartItem?.modelCode}}</span>
                                    </div>
                                    <div *ngIf="ind !== 2">
                                        <img src="{{cartItem.bmFinanceDetail[financeImg]}}" alt="not-found" width="50">
                                        <span>{{cartItem?.bmFinanceDetail?.financePromoMsg}}</span>
                                    </div>
                                    <div *ngIf="ind === 2">
                                        <span class="text-danger">FREE DELIVERY at this price</span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path
                                                d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                        </svg>
                                        Add to wislhist
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <div class="btn-group pt-4" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-outline-secondary">-</button>
                                <button type="button" class="btn btn-outline-secondary">{{cartItem.itemQuantity}}</button>
                                <button type="button" class="btn btn-outline-secondary">+</button>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-2 p-0  pt-4">
                            {{cartItem.itemAmount.itemPrice | currency}}
                        </div>
                        <div class="col-lg-1 col-sm-2 p-0  pt-4">
                            {{cartItem.itemAmount.itemTotalPrice | currency}}
                        </div>
                        <div class="col-lg-1 col-sm-2 pt-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </div>
                    </div>
                    <div class="card-footer text-muted" *ngIf="ind !== 2">
                        Choose your delivery option:
                        <select name="deliverOption" id="deliverOption" class="ml-3 btn-outline-secondary" *ngIf="ind === 0">
                            <option value="store" selected>Pick from store</option>
                        </select>
                        <select name="deliverOption1" id="deliverOption1" class="ml-3 btn-outline-secondary" *ngIf="ind !== 0">
                            <option value="store" selected>Deliver online</option>
                        </select>
                        <!-- <select *ngIf="cartItems.stores" name="deliverOption2" id="deliverOption2" class="ml-3 btn-outline-secondary">
                            <option *ngFor="let item of cartItems.stores">{{item.storeName}} - ({{item.storeDistance}})</option>
                        </select> -->
                        <select name="deliverOption2" id="deliverOption2" class="ml-3 btn-outline-secondary" *ngIf="ind === 0">
                            <option value="store" selected>Dania ponte - (8 mins away)</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="mr-3 border px-2">
                <h2 class="count-header pt-3 border-bottom text-uppercase pb-2">Order summmary</h2>
                <div class="d-flex justify-content-between">
                    <div>Subtotal</div>
                    <div class="bold-text">{{orderSummary?.subtotal | currency}}</div>
                </div>
                <div class="d-flex justify-content-between border-bottom pb-2">
                    <div>Estimated Shipping</div>
                    <div class="bold-text">{{orderSummary.shippingAmount | currency}}</div>
                </div>
                <div class="d-flex justify-content-between border-bottom py-2">
                    <div>Estimated Total</div>
                    <div class="bold-text">{{orderSummary.cartTotal | currency}}</div>
                </div>
                <p class="fs-12"> <span class="text-danger">*</span> {{orderSummary.taxDisclaimer}}</p>
                <div class="mb-5 text-center">
                    <button class="bg-danger text-uppercase text-white btn btn-default">start secured checkout</button>
                </div>
            </div>
        </div>
    </div>

</div>